<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Truy cập vị trí -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HopChoOnline"
        tools:targetApi="31">
        <activity
            android:name=".RatingItem"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" /> <!-- <activity -->
        <!-- android:name=".SearchResultPosts" -->
        <!-- android:exported="false" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="" -->
        <!-- ></meta-data> -->
        <activity
            android:name=".BuyOrSellActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PostCommentsActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="false"
            android:label="Đăng tin" />
        <activity
            android:name=".FindPostsByDistanceActivity"
            android:exported="false"
            android:label="Tìm bài đăng trên bản đồ" />
        <activity
            android:name=".SearchResultPosts"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditPost"
            android:exported="false" />
        <activity
            android:name=".FollowedUsersActivity"
            android:exported="false"
            android:label="Danh sách đang theo dõi" />
        <activity
            android:name=".PostActivity"
            android:exported="false"
            android:label="Bài đăng" />
        <activity
            android:name=".SavedPosts"
            android:exported="false"
            android:label="Tin đã lưu" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:label="Chỉnh sửa trang cá nhân" />
        <activity
            android:name=".OtherProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PostedPostsActivity"
            android:exported="false"
            android:label="Tin đã đăng" />
        <activity
            android:name=".RegisterVipActivity"
            android:exported="false"
            android:label="Đăng kí VIP" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RatingPage"
            android:exported="false"
            android:label="Đánh giá người dùng" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>